body{
	background-color:  #6c757d;
}
.{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
.sao{
	position: relative;
	width: 100%;
	height: 100hv;
	background: red;	}
	img{
		

	}
li {
	list-style-type: none;
	
}
li a{
	text-decoration: none;
	float: right;
	margin: 23px ; 
	font-size: 30px;
	font-style: italic;
	color: white;
}
li a:hover{
	color: #cc00ff;
}
li a.active{
	color: green;
}
h1{
	margin-left: 50px;
	font-style: italic;
	margin-top: 200px;
	color:white;

}
h1:hover{
	color: #cc00ff;

}
.ab{
	text-decoration: none;
	background:white;
	color: black;
	font-size: 23px;
	font-style: italic;
	margin-left: 32%;
	padding: 9px;
	float: left;
}
 .ab:hover{
	background: #cc00ff;
	color: white;
}


.navbar {
  overflow: hidden;
 
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 30px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}


.main {
  padding: 30px;
  margin-bottom: 30px;
}

